:root {
    --primary-color: #414535;
    --secondary-color: #618985;
    --accent-color-1: #CEDFDF;
    --accent-color-2: #F2E3BC;
}
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 400px 1fr;
	align-items: center;
    background-color: var(--secondary-color);
}
header img {
    margin: 0 0.25rem 0 1rem;
	width: 200px;
	height: auto;
}
nav {
    display: flex;

}
nav a {
    flex: 1 1 auto;
    font-family:  "Libre Baskerville", serif;
    color: var(--accent-color-2);
}
p {
    margin: 10px;
    font-family: "42dot Sans", serif;
    color: var(--primary-color);
}
.hero h1 {
    font-family: "Libre Baskerville", serif;
    color: var(--accent-color-1);
    position: absolute;
    top: 20rem;
    left: 30rem;
}
.hero article {
    position: absolute;
    top: 30rem;
    left: 30rem;
    background-color: var(--secondary-color);
}
.hero article p {
    color: var(--accent-color-2);
}
.hero article img {
    float: right;
    height: 20rem;
    width: auto;
}
h2 {
    font-family: "Libre Baskerville", serif;
    color: var(--secondary-color);
}
a {
    text-decoration: none;
}
.hero div{
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--secondary-color);
    margin-top: 5rem;
}
footer img {
    justify-self: right;
    max-height: 3rem;
    padding: 1rem;
}
footer p {
    grid-column: 2;
    justify-self: center;
    align-self: center;
}
footer div {
    grid-column: 3;
    justify-self: right;
    align-self: center;
}
.history {
    display:grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
}
.history h2 {
    align-self: center;
    justify-self: center;
    grid-column: 1/4;
}
.history img {
    align-self: center;
    justify-self: center;
}

.adventure {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3rem;
}
.adventure h2 {
    grid-column: 1/6;
    justify-self: center;
    align-self: center;
}
.adventure img {
    max-height: 15rem;
    justify-self: center;
    align-self: center;
}
figcaption {
    font: "Libre Baskerville", serif;
    padding: 3px;
    text-align: center;
}
