:root{
    --border-color: 2px solid black;
    --header-color: darkblue;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--header-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1{
    color: var(--header-color);
    border-bottom: 1px;
    border-color: darkblue;
}
main img {
    width: 150px;
    height: auto;
    border: var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {padding: 0;}
main {
    max-width: 840px;
}
aside {
    width: 20em;
    text-align: center;
    position: relative;
}
aside h2 {
    position: absolute;
    top:50px;
    left: 100px;
    color: yellow;
    
}
aside img{
    width: 200px;
    height: auto
}

footer {
    margin-top: 12px;
    border-top: var(--border-color);
    text-align: center;

}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/ 0.1);
    padding: 1rem;
    background-color: white;
    color: darkblue;
}
header footer {
    max-width: 840px;
    margin: 0 auto;
}